@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --cinza-escuro: #1D1D1F;
    --cinza-claro: #939393;
    --cinza-mais-claro: #F5F5F7;
    --branco: #fff;
}

*{
    line-height: 1;
    margin: 0;
    padding: 0;
}

html{
    display: flex;
    justify-content: space-around;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza-mais-claro);
    font-family: 'Poppins', sans-serif;
    max-width: 1170px;
}

header{
    backdrop-filter: blur(10px);
    width: 100vw;
    position: fixed;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    z-index: 1000;
}

.cabecalho{
    display: flex;
    gap: 8.125rem;
}

.cabecalho__nav{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.cabecalho__nav__menu{
    list-style-type: none;
    display: flex;
    gap: 3.75rem;
}

.cabecalho__nav__menu__opcao, .mobile__nav__menu__opcao{
    font-size: 1.313rem;
    font-weight: 300px;
    text-decoration: none;
    color: black;
}

.cabecalho__nav__menu__wpp{
    font-size: 1.313rem;
    font-weight: 300px;
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--cinza-escuro);
    border-radius: 50px;
}

.cabecalho__nav__menu__wpp:hover{
    color: var(--cinza-mais-claro);
    background-color: var(--cinza-escuro);
}

.mobile__nav{
    display: none;
    margin-bottom: 30px;
}

.mobile__nav__icon{
    display: none;
}

.mobile__nav__menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin-bottom: 30px;
    align-items: center;
}

.mobile__nav__menu__wpp{
    color: var(--cinza-mais-claro);
    background-color: var(--cinza-escuro);
    font-size: 1.313rem;
    font-weight: 300px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--cinza-escuro);
    border-radius: 50px;
    margin-left: 5px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 90px;
}

.portfolio__linha{
    display: flex;
    gap: 30px;
}

.portfolio__projeto{
    background-color: var(--branco);
    width: 270px;
    height: 285px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(29, 29, 31, 0.15);
    cursor: pointer;
}

.portfolio__projeto__imagem{
    margin: 15px 15px 30px 15px;
    border-radius: 20px;
}

.portfolio__projeto__nomeprojeto{
    color: var(--cinza-escuro);
    margin: 0px 0px 5px 30px;
    font-size: 21px;
    font-weight: 400px;
}

.portfolio__projeto__linguagemprojeto{
    color: var(--cinza-escuro);
    margin-left: 30px;
    font-size: 16px;
    font-weight: 300;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
    background-color: var(--branco);
    border-radius: 40px;
    border: none;
    outline: none;
}

.fechar__popup{
    cursor: pointer;
}

dialog::backdrop{
    background-color: rgb(0 0 0 / .15);
    backdrop-filter: blur(10px);
}

#imagem-popup{
    margin: 30px;
}

.popup__nomeprojeto{
    color: var(--cinza-escuro);
    margin: 0px 0px 15px 30px;
    font-size: 21px;
    font-weight: 400px;
}

.popup_descricao{
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 300px;
    line-height: 24px;
    margin: 0px 0px 15px 30px;
}

.popup_rodape{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 30px 30px;
    font-weight: 600;
}

.popup_rodape_links{
    display: flex;
    gap: 15px;
}

.sobre{
    display: flex;
    margin-bottom: 1.875rem;
}

.sobre__descricao{
    display: flex;
    gap: 1.875rem;
}

.sobre__descricao__icones{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    width: 4.25rem;
}

.sobre__descricao__texto{
    width: 23.125rem;
}

.sobre__descricao__texto__titulo{
    color: var(--cinza-escuro);
    font-size: 2.125rem;
    font-weight: 400px;
    margin-bottom: 0.938rem;
}

.sobre__descricao__texto__paragrafo{
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 300px;
    line-height: 1.5rem;
    margin-bottom: 0.938rem;
}

.sobre__descricao__texto__redes{
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.4rem;
    margin-bottom: 0.313rem;
}

.sobre__descricao__texto__iconesredes, .contato__informacoes__texto__iconesredes{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.habilidades{
    z-index: 2;
}

.habilidades__titulo{
    color: var(--cinza-escuro);
    font-size: 2.125rem;
    font-weight: 400px;
    margin: 0px 0px 0.938rem 6.063rem;
}

.habilidades__cards{
    display: flex;
    gap: 1.875rem;
}

.habilidades__cards__card{
    display: flex;
    background-color: var(--cinza-escuro);
    height: 11.5rem;
    width: 35.625rem;
    border-radius: 20px;
    border: 1px solid var(--cinza-mais-claro);
    align-items: center;
}

#faixa_card{
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

#caixa_de_topicos{
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

.habilidades__cards__card__topico{
    display: flex;
    flex-direction: column;
    gap: 0.938em;
    color: var(--cinza-mais-claro);
    font-size: 1rem;
    font-weight: 400px;
}

.habilidades__cards__card__topico__texto{
    display: flex;
    justify-content: space-between;
}

.habilidades__cards__card__topico__barra{
    height: 0.188rem;
    background-color: var(--cinza-mais-claro);
    border-radius: 50px;
    width: 100%;
}

#topico1{
    width: 80%;
}

#topico2{
    width: 100%;
}

#topico3{
    width: 75%;
}

#topico4{
    width: 60%;
}

#topico5{
    width: 80%;
}

#topico6{
    width: 100%;
}


.depoimentos__background{
    margin-top: -6.063rem;
    padding-top: 11.688rem;
    z-index: 1;
    background-color: var(--cinza-escuro);
    width: 100vw;
    height: 41rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos__titulo{
    color: var(--cinza-mais-claro);
    font-size: 2.125rem;
    font-weight: 300px;
    margin-bottom: 3.75rem;
}

.depoimentos__area__quotes{
    display: flex;
    gap: 3.75rem;
}

.depoimentos__quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.875rem;
}

.depoimentos__quote__titulo{
    color: var(--cinza-mais-claro);
    font-size: 1.375rem;
    margin-bottom: 0.313rem;
}

.depoimentos__quote__cargo{
    color: var(--cinza-mais-claro);
    font-size: 1ren;
    font-weight: 300px;
    margin-bottom: 1.875rem;
}

.depoimentos__quote__texto{
    color: var(--cinza-mais-claro);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300px;
    text-align: center;
}

#QuoteIcon{
    margin-right: 0.313rem;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    align-items: center;
    margin-top: -19.25rem;
}

.contato__wpp{
    font-size: 1.313rem;
    font-weight: 300px;
    text-decoration: none;
    color: var(--cinza-mais-claro);
    padding: 1.25rem 1rem 1.25rem 1rem;
    border: 2px solid var(--cinza-mais-claro);
    border-radius: 50px;
    background-color: var(--cinza-escuro);
}

.contato__wpp:hover{
    color: var(--cinza-escuro);
    background-color: var(--cinza-mais-claro);
}

.contato__informacoes{
    display: flex;
    width: 43.75rem;
    height: 21.25rem;
    background-color: var(--branco);
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(29, 29, 31, 0.15);
    align-items: center;
    justify-content: space-between;
}

.contato__informacoes__dev{
    margin-left: 1.875rem;
}

.contato__informacoes__texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    margin-right: 1.875rem;
}

#textoContato{
    text-decoration: none;
}

.contato__informacoes__texto__titulo{
    color: var(--cinza-escuro);
    font-size: 1.313rem;
    font-weight: 400px;
    line-height: 2rem;
}

.contato__informacoes__texto__paragrafo{
    color: var(--cinza-escuro);
    font-size: 1.313rem;
    font-weight: 300px;
    line-height: 2rem;
}

.rodape{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.rodape__texto{
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 300px;
    line-height: 24px;
}

@media (max-width: 1220px){
    .cabecalho__nav__menu{
        display: none;
    }

    .cabecalho__nav__menu__wpp{
        display: none;
    }

    .mobile__nav__icon{
        display: block;
        cursor: pointer;
    }

    .open{
        display: block;
    }

    #imagem-assinatura{
        display: none;
    }

    .habilidades__cards{
        flex-direction: column;
    }
}

@media (max-width: 800px){
    #faixa_card{
        display: none;
    }

    .habilidades__cards__card{
        justify-content: center;
    }

    .depoimentos__area__quotes{
        flex-direction: column;
    }

    .contato{
        margin-top: 1.875rem;
    }

    .contato__wpp{
        border-color: var(--cinza-escuro);
    }

    .contato__wpp:hover{
        border-color: var(--cinza-escuro);
    }

    .contato__informacoes{
        width: 20.625rem;
        justify-content: center;
    }

    .contato__informacoes__texto{
        margin-right: 0px;
        align-items: center;
    }

    .contato__informacoes__texto__titulo{
        text-align: center;
    }

    .contato__informacoes__texto__paragrafo{
        text-align: center;
    }

    .contato__informacoes__texto__iconesredes{
        justify-content: center;
    }

    .contato__informacoes__dev{
        display: none;
    }
}

@media (max-width: 650px){
    #imagem-logo{
        display: none;
    }

    .mobile__nav__icon{
        margin-left: 250px;
    }

    .sobre__descricao__icones{
        display: none;
    }

    .sobre__descricao__texto__titulo{
        text-align: center;
    }

    .sobre__descricao__texto__paragrafo{
        text-align: center;
    }

    .sobre__descricao__texto__redes{
        text-align: center;
    }

    .sobre__descricao__texto__iconesredes{
        justify-content: center;
    }

    .habilidades__titulo{
        margin: 0px 0px 15px 0px;
        text-align: center;
    }

    .habilidades__cards__card{
        width: 360px;
    }

    #caixa_de_topicos{
        width: 300px;
    }
}

@media (max-width: 380px){
    .sobre__descricao__texto{
        width: 18.75rem;
    }

    .habilidades__cards__card{
        width: 18.75rem;
    }

    #caixa_de_topicos{
        width: 200px;
    }

    .depoimentos__quote{
        width: 18.75rem;
    }
}