@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --cinza-escuro: #1D1D1F;
    --cinza-claro: #939393;
    --cinza-mais-claro: #F5F5F7;
    --branco: #fff;
}

*{
    line-height: 1;
    margin: 0;
    padding: 0;
}

html{
    display: flex;
    justify-content: space-around;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza-mais-claro);
    font-family: 'Poppins', sans-serif;
    width: 1170px;
}

.cabecalho{
    background-color: rgba(245, 245, 247, 0.8);
    backdrop-filter: blur(10px);
    width: 100vw;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 130px;
    z-index: 1000;
}

.cabecalho__nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.cabecalho__nav__menu{
    list-style-type: none;
    display: flex;
    gap: 60px;
}

.cabecalho__nav__menu__opcao{
    font-size: 21px;
    font-weight: 300px;
    text-decoration: none;
    color: var(--cinza-escuro);
}

.cabecalho__nav__menu__wpp{
    font-size: 21px;
    font-weight: 300px;
    text-decoration: none;
    color: var(--cinza-escuro);
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--cinza-escuro);
    border-radius: 50px;
}

.cabecalho__nav__menu__wpp:hover{
    color: var(--cinza-mais-claro);
    background-color: var(--cinza-escuro);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 90px;
    cursor: pointer;
}

.portfolio__linha{
    display: flex;
    gap: 30px;
    align-items: center; /*objetivo de posicionar a <div id="sobre"> para melhor visualização>*/
}

.portfolio__projeto{
    background-color: var(--branco);
    width: 270px;
    height: 285px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(29, 29, 31, 0.15);
}

.portfolio__projeto__imagem{
    margin: 15px 15px 30px 15px;
    border-radius: 20px;
}

.portfolio__projeto__nomeprojeto{
    color: var(--cinza-escuro);
    margin: 0px 0px 5px 30px;
    font-size: 21px;
    font-weight: 400px;
}

.portfolio__projeto__linguagemprojeto{
    color: var(--cinza-escuro);
    margin-left: 30px;
    font-size: 16px;
    font-weight: 300;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
    background-color: var(--branco);
    border-radius: 40px;
    border: none;
    outline: none;
}

.fechar__popup{
    cursor: pointer;
}

dialog::backdrop{
    background-color: rgb(0 0 0 / .15);
}

#imagem-popup{
    margin: 30px;
}

.popup__nomeprojeto{
    color: var(--cinza-escuro);
    margin: 0px 0px 15px 30px;
    font-size: 21px;
    font-weight: 400px;
}

.popup_descricao{
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 300px;
    line-height: 24px;
    margin: 0px 0px 15px 30px;
}

.popup_rodape{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 30px 30px;
    font-weight: 600;
}

.popup_rodape_links{
    display: flex;
    gap: 15px;
}

.sobre{
    display: flex;
    margin-bottom: 30px;
}

.sobre__descricao{
    display: flex;
    gap: 30px;
}

.sobre__descricao__icones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.sobre__descricao__texto{
    width: 370px;
}

.sobre__descricao__texto__titulo{
    color: var(--cinza-escuro);
    font-size: 34px;
    font-weight: 400px;
    margin-bottom: 15px;
}

.sobre__descricao__texto__paragrafo{
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 300px;
    line-height: 24px;
    margin-bottom: 15px;
}

.sobre__descricao__texto__redes{
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 5px;
}

.sobre__descricao__texto__iconesredes, .contato__informacoes__texto__iconesredes{
    display: flex;
    align-items: center;
    gap: 10px;
}

.habilidades{
    z-index: 2;
}

.habilidades__titulo{
    color: var(--cinza-escuro);
    font-size: 34px;
    font-weight: 400px;
    margin: 0px 0px 15px 97px;
}

.habilidades__cards{
    display: flex;
    gap: 30px;
}

.habilidades__cards__card{
    display: flex;
    background-color: var(--cinza-escuro);
    height: 184px;
    width: 570px;
    border-radius: 20px;
    border: 1px solid var(--cinza-mais-claro);
    align-items: center;
}

#faixa_card{
    margin-left: 30px;
    margin-right: 30px;
}

#caixa_de_topicos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.habilidades__cards__card__topico{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--cinza-mais-claro);
    font-size: 16px;
    font-weight: 400px;
}

.habilidades__cards__card__topico__texto{
    display: flex;
    justify-content: space-between;
}

.habilidades__cards__card__topico__barra{
    height: 3px;
    background-color: var(--cinza-mais-claro);
    border-radius: 50px;
    width: 100%;
}

#topico1{
    width: 300px;
}

#topico2{
    width: 400px;
}

#topico3{
    width: 200px;
}

#topico4{
    width: 250px;
}

#topico5{
    width: 300px;
}

#topico6{
    width: 400px;
}


.depoimentos__background{
    margin-top: -97px;
    padding-top: 187px;
    z-index: 1;
    background-color: var(--cinza-escuro);
    width: 100vw;
    height: 656px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos__titulo{
    color: var(--cinza-mais-claro);
    font-size: 34px;
    font-weight: 300px;
    margin-bottom: 60px;
}

.depoimentos__area__quotes{
    display: flex;
    gap: 60px;
}

.depoimentos__quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.depoimentos__quote__titulo{
    color: var(--cinza-mais-claro);
    font-size: 22px;
    margin-bottom: 5px;
}

.depoimentos__quote__cargo{
    color: var(--cinza-mais-claro);
    font-size: 16px;
    font-weight: 300px;
    margin-bottom: 30px;
}

.depoimentos__quote__texto{
    color: var(--cinza-mais-claro);
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}

#QuoteIcon{
    margin-right: 5px;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin-top: -308px;
}

.contato__wpp{
    font-size: 21px;
    font-weight: 300px;
    text-decoration: none;
    color: var(--cinza-mais-claro);
    padding: 20px 15px 20px 15px;
    border: 2px solid var(--cinza-mais-claro);
    border-radius: 50px;
    background-color: var(--cinza-escuro);
}

.contato__wpp:hover{
    color: var(--cinza-escuro);
    background-color: var(--cinza-mais-claro);
}

.contato__informacoes{
    display: flex;
    width: 700px;
    height: 340px;
    background-color: var(--branco);
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(29, 29, 31, 0.15);
    align-items: center;
    justify-content: space-between;
}

.contato__informacoes__dev{
    margin-left: 30px;
}

.contato__informacoes__texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 30px;
}

#textoContato{
    text-decoration: none;
}

.contato__informacoes__texto__titulo{
    color: var(--cinza-escuro);
    font-size: 21px;
    font-weight: 400px;
    line-height: 32px;
}

.contato__informacoes__texto__paragrafo{
    color: var(--cinza-escuro);
    font-size: 21px;
    font-weight: 300px;
    line-height: 32px;
}

.rodape{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.rodape__texto{
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 300px;
    line-height: 24px;
}
